<?xml version="1.0"?>
<!--
/*
 * This file is a config of module which is responsible for customer poll
 *
 * PHP version 7.1.21
 *
 * @category  Module config
 * @package   Virtua_Internship
 * @author    Maciej Skalny <contact@wearevirtua.com>
 * @copyright 2018 Copyright (c) Virtua (http://wwww.wearevirtua.com)
 * @license   GPL http://opensource.org/licenses/gpl-license.php
 * @link      https://bitbucket.org/wearevirtua/magento1ms/
 */
-->
<config>
    <modules>
        <Virtua_CustomerPoll>
            <version>0.1.0</version>
        </Virtua_CustomerPoll>
    </modules>
    <frontend>
        <routers>
            <customerpoll>
                <use>standard</use>
                <args>
                    <module>Virtua_CustomerPoll</module>
                    <frontName>customerpoll</frontName>
                </args>
            </customerpoll>
        </routers>
        <layout>
            <updates>
                <customerpoll>
                    <file>customerpoll.xml</file>
                </customerpoll>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <customerpoll>
                <class>Virtua_CustomerPoll_Block</class>
            </customerpoll>
        </blocks>
        <helpers>
            <customerpoll>
                <class>Virtua_CustomerPoll_Helper</class>
            </customerpoll>
        </helpers>
        <models>
            <customerpoll>
                <class>Virtua_CustomerPoll_Model</class>
                <resourceModel>customerpoll_resource</resourceModel>
            </customerpoll>
            <customerpoll_resource>
                <class>Virtua_CustomerPoll_Model_Resource</class>
                <entities>
                    <customerpoll>
                        <table>customerpoll</table>
                    </customerpoll>
                </entities>
            </customerpoll_resource>
        </models>
        <resources>
            <customerpoll_setup>
                <setup>
                    <module>Virtua_CustomerPoll</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerpoll_setup>
            <customerpoll_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerpoll_write>
            <customerpoll_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerpoll_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <customerpoll>
                    <file>customerpolladmin.xml</file>
                </customerpoll>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Virtua_CustomerPoll_Adminhtml before="Mage_Adminhtml">Virtua_CustomerPoll_Adminhtml</Virtua_CustomerPoll_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>