<?xml version="1.0"?>
<config>
    <tabs>
        <myconf translate="label">
            <label>VIRTUA</label>
            <sort_order>150</sort_order>
        </myconf>
    </tabs>
    <sections>
        <customerpoll_section translate="label" module="adminhtml">
            <label>Customer</label>
            <tab>myconf</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <customerpoll_group translate="label comment">
                    <label>Poll</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <customerpoll_select translate="label comment">
                            <label>Poll</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customerpoll_select>
                    </fields>
                </customerpoll_group>
            </groups>
        </customerpoll_section>
    </sections>
</config>