<?xml version="1.0"?>
<!--
/*
 * This file is a config of module which is responsible for joining email column to orders grid.
 *
 * PHP version 7.1.21
 *
 * @category  Module config
 * @package   Virtua_Internship
 * @author    Maciej Skalny <contact@wearevirtua.com>
 * @copyright 2018 Copyright (c) Virtua (http://wwww.wearevirtua.com)
 * @license   GPL http://opensource.org/licenses/gpl-license.php
 * @link      https://github.com/maciejskalny/backup-symfony
 */
-->
<config>
    <global>
        <modules>
            <MailModule>
                <version>0.1.0</version>
            </MailModule>
        </modules>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>MailModule_Test_Block_Adminhtml_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <frontend>
            <routers>
                <mailmodule>
                    <use>standard</use>
                    <args>
                        <module>MailModule</module>
                        <frontName>mailmodule</frontName>
                    </args>
                </mailmodule>
            </routers>
        </frontend>
        <helpers>
            <mailmodule>
                <class>MailModule_Helper</class>
            </mailmodule>
        </helpers>
    </global>
    <!--<default>-->
    <!--<tab1>-->
    <!--<general>-->
    <!--<text_field>Default value</text_field>-->
    <!--<textarea></textarea>-->
    <!--<dropdown>key2</dropdown>-->
    <!--<multiple_dropdown>key1,key2</multiple_dropdown>-->
    <!--<time>11,30,45</time>-->
    <!--<active>0</active>-->
    <!--<boolean>1</boolean>-->
    <!--<dependant_text_field>Default value</dependant_text_field>-->
    <!--</general>-->
    <!--</tab1>-->
    <!--</default>-->
</config>