<?xml version="1.0"?>
<!--
/*
 * This file is a config of module which is responsible for order message
 *
 * PHP version 7.1.21
 *
 * @category  Module config
 * @package   Virtua_Internship
 * @author    Maciej Skalny <contact@wearevirtua.com>
 * @copyright 2018 Copyright (c) Virtua (http://wwww.wearevirtua.com)
 * @license   GPL http://opensource.org/licenses/gpl-license.php
 * @link      https://bitbucket.org/wearevirtua/magento1ms/
 */
-->
<config>
    <modules>
        <Virtua_OrderMessage>
            <version>0.1.0</version>
        </Virtua_OrderMessage>
    </modules>
    <frontend>
        <routers>
            <ordermessage>
            <use>standard</use>
            <args>
                <module>Virtua_OrderMessage</module>
                <frontName>ordermessage</frontName>
            </args>
            </ordermessage>
        </routers>
        <layout>
            <updates>
                <ordermessage module="Virtua_OrderMessage">
                    <file>ordermessage.xml</file>
                </ordermessage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ordermessage>
                <use>admin</use>
                <args>
                    <module>Virtua_OrderMessage</module>
                    <frontName>ordermessage</frontName>
                </args>
            </ordermessage>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <items module="ordermessage">
                        <title>Order Topics</title>
                        <sort_order>0</sort_order>
                        <action>ordermessage/adminhtml_ordermessage</action>
                    </items>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <ordermessage>
                            <title>OrderMessage Module</title>
                            <sort_order>200</sort_order>
                        </ordermessage>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <ordermessage>
                <class>Virtua_OrderMessage_Block</class>
            </ordermessage>
            <ordermessage_adminhtml>
                <class>Virtua_OrderMessage_Block_Adminhtml</class>
            </ordermessage_adminhtml>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Virtua_OrderMessage_Test_Block_Adminhtml_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ordermessage>
                <class>Virtua_OrderMessage_Helper</class>
            </ordermessage>
        </helpers>
        <models>
            <ordermessage>
                <class>Virtua_OrderMessage_Model</class>
                <resourceModel>ordermessage_resource</resourceModel>
            </ordermessage>
            <ordermessage_resource>
                <class>Virtua_OrderMessage_Model_Resource</class>
                <entities>
                    <ordermessage>
                        <table>ordermessage</table>
                    </ordermessage>
                    <ordermessagetopic>
                        <table>ordermessagetopic</table>
                    </ordermessagetopic>
                </entities>
            </ordermessage_resource>
        </models>
        <resources>
            <ordermessage_setup>
                <setup>
                    <module>Virtua_OrderMessage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordermessage_setup>
            <ordermessage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordermessage_write>
            <ordermessage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordermessage_read>
        </resources>
        <events>
            <sales_order_place_before>
                <observers>
                    <sales_order_place_before>
                        <type>singleton</type>
                        <class>Virtua_OrderMessage_Model_Observer</class>
                        <method>saveOrderMessage</method>
                    </sales_order_place_before>
                </observers>
            </sales_order_place_before>
        </events>
    </global>
    <admin>
        <routers>
            <virtua_ordermessage_admin>
                <use>admin</use>
                <args>
                    <module>Virtua_OrderMessage_Adminhtml</module>
                    <frontName>ordermessage-admin</frontName>
                </args>
            </virtua_ordermessage_admin>
        </routers>
    </admin>
</config>