<?xml version="1.0"?>
<config>
    <tabs>
        <myconf translate="label">
            <label>VIRTUA</label>
            <sort_order>150</sort_order>
        </myconf>
    </tabs>
    <sections>
        <ordermessage_config translate="label" module="adminhtml">
            <label>Order Message</label>
            <tab>myconf</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <ordermessage_group translate="label comment">
                    <label>VIRTUA - Order Message config</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <ordermessage_text translate="label comment">
                            <label>Order Message topic</label>
                            <comment>Add new topic for order messages.</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ordermessage_text>
                    </fields>
                </ordermessage_group>
            </groups>
        </ordermessage_config>
    </sections>
</config>