<?xml version="1.0"?>
<config>
    <tabs>
        <myconf translate="label">
            <label>VIRTUA</label>
            <sort_order>150</sort_order>
        </myconf>
    </tabs>
    <sections>
        <customerscsv_config translate="label" module="adminhtml">
            <label>Customers CSV Module</label>
            <tab>myconf</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <customerscsv_group translate="label">
                    <label>VIRTUA - Customers CSV Module config</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <time translate="label">
                            <label>Start Time</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </time>
                        <frequency translate="label">
                            <label>Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_cron_frequency</source_model>
                            <backend_model>virtua_customerscsv_model_adminhtml_system_config_backend_model_cron</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </frequency>
                        <enabling translate="label comment">
                            <label>Enable or disable cron</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabling>
                    </fields>
                </customerscsv_group>
            </groups>
        </customerscsv_config>
    </sections>
</config>