<global>
    <blocks>
        <customeremailorder_extendedgrid>
            <class>CustomerEmailOrder_ExtendedGrid_Block</class>
        </customeremailorder_extendedgrid>
        <adminhtml>
            <rewrite>
                <sales_order_grid>CustomerEmailOrder_ExtendedGrid_Adminhtml_Block_Sales_Order_Grid</sales_order_grid>
            </rewrite>
        </adminhtml>
    </blocks>
</global>